#weatherResults {
    background-color: #FCFCFD;
    color: #000;
    border-radius: 4px;
    border-width: 0;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    margin-top: 20px;
}